body {
   font-family: Helvetica, sans-serif;
   background: #ddd;
   margin: 0px;
}

div.console {
   margin: 1em;
}

.video-list {
   margin: 0.5em;
}

span {
   float: left;
   padding: 3px 3px 3px 3px;
}

p.errormsg {
   color: #f00;
}

table {
   border-collapse: collapse;
   border: 1px solid #aaa;
   background: #fff;
}

td, th {
   padding: 6px;
}

th {
   background-color: #333;
   color: white;
}

.trashed-items {
   padding: 5px;
   text-align: left;
}

tr.trashed-items:nth-child(even) {
   background-color: #eee;
}

div.cc-title {
   white-space: nowrap;
   width: 400px;
   overflow: hidden;
   text-overflow: ellipsis;
   margin-left: 3px;
}

td.cc-title {
   padding: 3px;
}

td.cc-attrs {
   color: #444;
   padding: 3px;
}

a.cc-origin:link {
   text-decoration: none;
}

a.cc-origin:visited {
   text-decoration: none;
}

a.cc-origin:hover {
   text-decoration: underline;
}

a.cc-origin:active {
   text-decoration: underline;
}

input, button {
   border: 1px solid black;
   border-radius: 5px;
   padding: 5px 15px;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   font-size: 12px;
   font-family: Arial;
}

.trash-button {
   font-weight: bold;
}

.del-tick {
   margin-right: 6px;
}

.trash-button {
   background-color: #c00;
   color: #fff;
   margin-right: 1em;
}

.list-trash-button {
   background-color: #fff;
   color: #000;
   margin-right: 1em;
}

#search {
   border-radius: 0px;
   text-align: left;
   padding: 5px 5px;
}

#nav {
   color: #fff;
   background-color: #333;
   padding: 10px 10px;
}
