body {
   padding-left: 1em;
   font-family: Helvetica, sans-serif;
   background: #ddd;
}

h2 {
}

span {
   float: left;
   padding: 3px 3px 3px 3px;
}

p.errormsg {
   color: #f00;
}

table {
   border-collapse: collapse;
   border: 1px solid #aaa;
   background: #fff;
}

td, th {
   padding: 6px;
}

th {
   background-color: #486;
   color: white;
}

.trashed-items {
   padding: 5px;
   text-align: left;
}

tr.trashed-items:nth-child(even) {
   background-color: #eee;
}

td.cc-title {
}
td.cc-saved {
   color: #444;
}
td.cc-origin {
   text-align: right;
   color: #444;
}

a.cc-origin:link {
   text-decoration: none;
}

a.cc-origin:visited {
   text-decoration: none;
}

a.cc-origin:hover {
   text-decoration: underline;
}

a.cc-origin:active {
   text-decoration: underline;
}
